{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}