{% extends 'admin/base_admin.html.twig' %}
{% block body %}
    <div class="container">
        <h2>Create new Product</h2>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.price) }}
            {{ form_row(form.color) }}
            {{ form_row(form.weight) }}
            {{ form_row(form.quantity) }}
            {{ form_row(form.meta_title) }}
            {{ form_row(form.meta_description) }}
            {{ form_row(form.meta_keywords) }}
            {{ form_row(form.image) }}
            <button type="submit">Create</button>
        {{ form_end(form) }}
    </div>    
{% endblock %}